<div class="container">
  <div class="text-center">
    <h1>Poetry & Prose</h1>
  </div>

  <div class="col">
    <blockquote cite="Edmund Bennett">
      <b>As we mean to go on...</b><br><br>
      Lead, hand and mouth to the low path, only elysium fields beyond,<br>
      there are few whose first steps fall intrepidly.<br>
      Dark, grueling visage, curling furiously against harsh winds of fate.<br>
      Spittle flecks, curses check'd, breath's abate'<br>
      in indignant rage toward dying light.<br><br>

      Taken, head foremost towards the glow, a vast playground<br>
      fantastic cornucopia, whose call draws such force.<br>
      A vastness of effort, grimaces, bending of bone, stretching of skin.<br>
      Initial gasp, surreal pain and confrontation of terrible din<br>
      but all in joyous realisation of sight.<br><br>

      Oh what similarity in such deathly countenance<br>
      to that babe whose first gasp, primal clutchings,<br>
      umbilical trappings demand such attention?<br>
      Surely there's no right in such passage, only wrong;<br>
      no wrong in birth, only joyful song?<br><br><br>

      Edmund Bennett, 31st January 2016
    </blockquote>
  </div>
</div>
