<div class="container">
  <div class="text-center">
    <h1>Computing / Code</h1>
  </div>
  <div class="row">
    <h4>Docker for Software Development</h4>
    <p>Docker (and related containerization software buildah and podman) are wonderful tools to assist in the deployment of  </p>
  </div>
  <div class="row">
    <h4>Deploying Applications with Kubernetes</h4>
    <p>Recently, I have had the exciting opportunity to try Kubernetes as an on-premise deployment solution. Kubernetes is a tool to orchestrate deployments made using containerization software such as Docker. It gives these containers a place to live (these are called nodes) and abstracts away the challenge of managing IP addresses, scaling, and the other details of making deployments work. </p>
  </div>
</div>
