<div class="container">
  <h1>Welcome to Rock Paper Science</h1>
  <div class="row">
    <div class="col-md-6">
      <img src="assets/dalle-2-equations-in-rock.jpg" alt="Rock Paper Science">
    </div>
    <div class="col-md-6">
      <p>Rock Paper Science is a blog of environmentalism, scientific curiosities, programming and data science. Producing articles is as much an opportunity for the writer as the reader. Together, we can learn and discover new amazing things on the subjects of nature, mathematics, data science and software development.</p>
        <blockquote cite="Dimmu Borgir">
          We learn as we teach<br>
          We teach as we speak<br>
          We speak as we seek<br>
          We seek what we learn<br><br>
          <i>Dimmu Borgir</i>
        </blockquote>
    </div>
    <div class="row text-center pt-3">
      <p>Check out the <a style="color: black" routerLink="/meta">Meta</a> page for a summary of all blog posts. This site has been produced by <a style="color: black" href="https://huginnmuninnresearch.com">Huginn // Muninn</a>.</p>
    </div>
    <div class="row text-center pt-3">
      <h4><u>So why is it called 'Rock Paper Science'?</u></h4>
    </div>
    <div class="row pt-3">
      <p>The stone age probably lasted more than 3 million years and ended just around about five thousand years ago with the advent of metalworking. During this time life was generally short and unforgiving for humanity. A mere six thousand years later the printing press was invented, sparking a host of sociological revolutions and providing a basis for the scientific method. In a few short centuries we have seen life spans shoot up, standards of living rise and our collective understanding of the world around us increase hugely. Everyone living and everyone who has lived is part of that same story, to greater or lesser extents.</p>
      <p>The three nouns Rock, Paper and Science represent stepping stones on that journey. By no means are they unique, but they are memorable.</p>
    </div>
  </div>
</div>
