<div class="container">
  <h1>Welcome to Rock Paper Science</h1>
  <div class="row">
    <div class="col-md-6">
      <img src="assets/dalle-2-equations-in-rock.jpg" alt="Rock Paper Science">
    </div>
    <div class="col-md-6">
      <p>Rock Paper Science is a blog of scientific curiosities, programming and data science. I write articles as I learn and discover new amazing things on the subjects of nature, mathematics, data science and software development.</p>
        <blockquote cite="Dimmu Borgir">
          We learn as we teach<br>
          We teach as we speak<br>
          We speak as we seek<br>
          We seek what we learn<br>
          <i>Dimmu Borgir</i>
        </blockquote>
      <p>Check out the Meta page for a summary of all blog posts. This site has been produced by <a style="color: black" href="https://huginnmuninnresearch.com">Huginn // Muninn</a>.</p>
    </div>
  </div>
</div>
